{# cgi_related_media/templates/cgi-media-block-template.html.twig #}
{% autoescape false %}
{%
  set featuredclasses = [
    'col-6',
    'col-md-6',
    'col-xl-6'
  ]
%}


<div class="container cgimedia">
  <div class="row mb-2">
    <div {{ attributes.addClass(featuredclasses) }}>
    		<div class="col-6">
        		<img src="{{ featured_media_announcment_arr.cgi_large_image }}"/>
			</div>
			<div class="col-12 font-weight-bold">{{featured_media_announcment_arr.body|render|striptags|trim}}</div>
			<div class="col-12">{{featured_media_announcment_arr.category|upper}}</div>
    </div>
    <div {{ attributes.addClass(featuredclasses) }}>
    	    <div class="col-6">
        		<img src="{{ featured_brochure_arr.cgi_large_image }}"/>
			</div>
			<div class="col-12 font-weight-bold">{{featured_brochure_arr.body|render|striptags|trim}}</div>
			<div class="col-12">{{featured_brochure_arr.category|upper}}</div>
	</div>
  </div> 
  

{% set rclasses = '' %}
{% if featured_white_paper_arr.cgi_thumbnail_image is not empty %}
{%
  set rclasses = [
    'col-sm-6'
  ]
%}
{% else %}
{%
  set rclasses = [
    'col-sm-12'
  ]
%}  
{% endif %}
  
  <div class="row mb-2">
		<div class="col-12">
		{% if featured_white_paper_arr.cgi_thumbnail_image|trim is not empty %} 	
		<div {{ attributes.removeClass('col-6','col-md-6','col-xl-6','col-sm-6','col-sm-12').addClass(rclasses) }}><img src="{{ featured_white_paper_arr.cgi_thumbnail_image }}"/></div>
		{% endif %}
		<div {{ attributes.removeClass('col-6','col-md-6','col-xl-6','col-sm-6','col-sm-12').addClass(rclasses) }}>
		<p class="blog-title">{{featured_white_paper_arr.title|striptags|trim}}</p>
		<p class="font-weight-normal">{{featured_white_paper_arr.body|striptags|trim}}</p>
			{{featured_white_paper_arr.category|upper|replace({',': " |"})}}
		</div>
		</div>
  </div>

{% for key,remaining_cgi_media in remaining_cgi_media_arr %}
{% set rclasses = '' %}
{% if remaining_cgi_media.cgi_thumbnail_image is not empty %}
{%
  set rclasses = [
    'col-sm-6'
  ]
%}
{% else %}
{%
  set rclasses = [
    'col-sm-12'
  ]
%}  
{% endif %}


<div class="container">
  <div class="row">
  	<div class="col-sm-12"><p class="blog-title">{{remaining_cgi_media.title|striptags|trim}} {{rclasses}}</p></div>
  	{% if remaining_cgi_media.cgi_thumbnail_image is not empty %} 
    <div {{ attributes.removeClass('col-6','col-md-6','col-xl-6','col-sm-6','col-sm-12').addClass(rclasses) }}>
		<img src="{{ remaining_cgi_media.cgi_thumbnail_image }}"/>
    </div>
    {% endif %}
    <div {{ attributes.removeClass('col-6','col-md-6','col-xl-6','col-sm-6','col-sm-12').addClass(rclasses) }}>
		<p class="font-weight-normal">{{remaining_cgi_media.body|striptags|trim}}</p>
		{{remaining_cgi_media.category|upper|replace({',': " |"})}}
    </div>
  </div>
</div>
{% endfor %}
    
</div>
{% endautoescape %}